<section
  class="page-section pt-md-5 pt-lg-5 portfolio portfolio-background"
  id="portfolio"
>
  <div class="container">
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center content-row">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-6 mb-lg-5 first-portfolio box">
        <h2 class="text-left text-uppercase">Was wir machen</h2>
        <p>
          Wir entwickeln webbasierte Inhouse-Lösungen, Webanwendungen, Web-Clients und mobile Apps, die responsive und technologisch hochwertig sind.
        </p>
      </div>
      <!-- Portfolio Item 2-->
      <div class="col-md-6 col-lg-6 mb-5 second-portfolio box">
        <p class="mb-4">
          Ob Softwareentwicklung, Software-Architektur, Web- oder App-Entwicklung:
          Unsere Lösungen sind genau auf Ihre Bedürfnisse zugeschnitten. Wir arbeiten zuverlässig und mit einem hohen Qualitätsanspruch.

          Dazu nutzen wir unter anderem diese
          <strong>
             innovativen und modernen Technologien:
          </strong>
        </p>
        <p class="technologies mb-0">
          <strong class="oswald">
            HTML5 | CSS | JavaScript | TypeScript | <br />
            Node.js | Vue.js | astro | Tailwind CSS | nestJS | <br />
            SQL | Prisma | Docker |
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .portfolio h2 {
    font-size: 1.25rem;
    letter-spacing: 2.6px;
  }
</style>
