<nav
  class="navbar navbar-expand-lg bg-primary text-uppercase fixed-top"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand" href="#page-top"
      ><img class="logo" src="img/Logo@2x.png" alt="Nordic Logo" />
    </a>
    <button
      class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio"
            >Was wir machen</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about"
            >Wer wir sind</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#credentials"
            >Referenzen</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded"
            style="padding-right: 0!important;"
            href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  import { ScrollSpy } from './navigation';

  window.addEventListener('DOMContentLoaded', (event) => {
    const menu = document.body.querySelector('#mainNav')!;
    const scrollspy = new ScrollSpy(menu, 50);
    scrollspy.init();

    // Navbar shrink function
    const navbarShrink = function () {
      const navbarCollapsible = document.body.querySelector('#mainNav');

      if (!navbarCollapsible) {
        return;
      }

      if (window.scrollY === 0) {
        navbarCollapsible.classList.remove('navbar-shrink');
      } else {
        navbarCollapsible.classList.add('navbar-shrink');
      }
    };

    // Collapse responsive navbar when toggler is visible
    const navbarToggler =
      document.body.querySelector<HTMLButtonElement>('.navbar-toggler');

    const responsiveNavItems: HTMLAnchorElement[] = Array.prototype.slice.call(
      document.querySelectorAll('#navbarResponsive .nav-link'),
    );

    responsiveNavItems.forEach((responsiveNavItem) => {
      responsiveNavItem.addEventListener('click', () => {
        if (navbarToggler) {
          if (window.getComputedStyle(navbarToggler).display !== 'none') {
            navbarToggler.click();
          }
        }
      });
    });

    // Shrink the navbar
    navbarShrink();

    // Shrink the navbar when page is scrolled
    document.addEventListener('scroll', navbarShrink);
  });
</script>
