---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
---

<Layout title="Impressum">
  <Header title="Impressum" />

  <section class="bg-primary mb-0" id="about">
    <div class="container">
      <div class="row justify-content-center content-row">
        <div class="col-md-12 col-lg-12 mb-5 pl-lg-0">
          <div class="wrapper">
            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>
              Luca Fuhl &amp; Wolfgang Greschus GbR<br />
              Vogelh&uuml;ttendeich 109<br />
              21107 Hamburg
            </p>

            <p>
              <strong>Vertreten durch:</strong><br />
              Wolfgang Greschus<br />
              Luca Fuhl
            </p>

            <h2>Kontakt</h2>

            <p>
              Telefon: <a
                class="text-decoration-none text-reset"
                href="tel:+49017661373754">0176 - 613 737 54</a
              >
              <br />
              E-Mail: <a
                class="text-decoration-none text-reset"
                href="mailto:info@nordic-web-solutions.de"
              >
                info@nordic-web-solutions.de
              </a>
            </p>

            <h2>
              Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
            </h2>

            <p>
              Wir sind nicht bereit oder verpflichtet, an
              Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
              teilzunehmen.
            </p>

            <p>
              Quelle: <a
                class="text-decoration-none text-reset"
                href="https://www.e-recht24.de"
              >
                eRecht24
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
