---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Portfolio from '../components/Portfolio.astro';

---

<Layout title="">
  <Header title="INDIVIDUELLE SOFTWARE FÜR IHR STARTUP ODER UNTERNEHMEN" />
  <Portfolio />

  <section class="page-section bg-primary mb-0 pt-md-7 pt-lg-7" id="about">
    <div class="container">
        <div class="row justify-content-center content-row">
            <h2 class="section-header text-left text-uppercase mb-5">Wer wir sind</h2>
            <div class="col-md-6 col-lg-6 mb-5 pl-lg-0">
                <div class="row justify-content-center content-row">
                    <div class="col-lg-5 text-center">
                        <img class="avatar" src="img/360_F_262064285_nJbwu91V3nqAH32zLdcvYweaXGtLtnQW.jpeg" alt=""/>
                    </div>
                    <div class="col-lg-7 d-flex flex-column mt-3 mb-3  tp-card">
                        <div class="col name oswald text-uppercase">Wolfgang Greschus</div>
                        <div class="col job-type">Backend-Entwickler</div>
                        <div class="col skills oswald">NODEJS | NESTJS | TYPESCRIPT | JAVASCRIPT | DOCKER</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5 pl-lg-0">
                <div class="row justify-content-center content-row">
                    <div class="col-lg-5 text-center">
                        <img class="avatar" src="img/360_F_262064285_nJbwu91V3nqAH32zLdcvYweaXGtLtnQW.jpeg" alt=""/>
                    </div>
                    <div class="col-lg-7 d-flex flex-column mt-3 mb-3  tp-card">
                        <div class="col name oswald text-uppercase">LUCA FUHL</div>
                        <div class="col job-type">Backend-Entwickler</div>
                        <div class="col skills oswald">NODEJS | VUEJS | TYPESCRIPT | JAVASCRIPT | DOCKER</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-primary mb-0" id="credentials">
  <div class="container">
      <div class="row justify-content-center content-row">
          <h2 class="section-header text-left text-uppercase mb-5 header-cred d-sm-block d-lg-none">Referenzen</h2>

          <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row justify-content-center align-items-center content-row uncenter">
                          <div class="col-md-6 col-lg-3 mb-5 pl-lg-0 pt-lg-5 text-center reference-img-wrapper">
                              <img class="reference" src="img/Laptop_Mockup@2x_1.png" alt=""/>
                          </div>
                          <div class="col-md-6 col-lg-8 mb-5 pl-lg-0 text-white">
                              <div class="row justify-content-center content-row rf-card">
                                  <div class="col-lg-11 d-flex flex-column mt-lg-5 mb-lg-5 pl-lg-9 p-lg-0">
                                      <div class="col reference-title oswald text-uppercase">UNIVERSITÄT HAMBURG</div>
                                      <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <h5 class="text-uppercase mb-4 mb-lg-0 special-headline-g d-none d-lg-inline-block">Referenzen</h5>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row justify-content-center align-items-center content-row uncenter">
                          <div class="col-md-6 col-lg-3 mb-5 pl-lg-0 pt-lg-5 text-center reference-img-wrapper">
                              <img class="reference" src="img/Laptop_Mockup@2x_1.png" alt=""/>
                          </div>
                          <div class="col-md-6 col-lg-8 mb-5 pl-lg-0 text-white">
                              <div class="row justify-content-center content-row rf-card">
                                  <div class="col-lg-11 d-flex flex-column mt-lg-5 mb-lg-5 pl-lg-9 p-lg-0">
                                      <div class="col reference-title oswald text-uppercase">UNIVERSITÄT HAMBURG</div>
                                      <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <h5 class="text-uppercase mb-4 mb-lg-0 special-headline-g d-none d-lg-inline-block">Referenzen</h5>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row justify-content-center align-items-center content-row uncenter">
                          <div class="col-md-6 col-lg-3 mb-5 pl-lg-0 pt-lg-5 text-center reference-img-wrapper">
                              <img class="reference" src="img/Laptop_Mockup@2x_1.png" alt=""/>
                          </div>
                          <div class="col-md-6 col-lg-8 mb-5 pl-lg-0 text-white">
                              <div class="row justify-content-center content-row rf-card">
                                  <div class="col-lg-11 d-flex flex-column mt-lg-5 mb-lg-5 pl-lg-9 p-lg-0">
                                      <div class="col reference-title oswald text-uppercase">UNIVERSITÄT HAMBURG</div>
                                      <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <h5 class="text-uppercase mb-4 mb-lg-0 special-headline-g d-none d-lg-inline-block">Referenzen</h5>
                          </div>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>

      </div>
      <div class="parent-sl">
          <hr class="stupid-line">
      </div>
  </div>
</section>

</Layout>

<style>

</style>
