<section class="page-section portfolio portfolio-background" id="portfolio">
  <div class="container">
      <!-- Portfolio Grid Items-->
      <div class="row justify-content-center content-row">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-6 mb-lg-5 first-portfolio box">
              <h2 class="text-left text-uppercase">Was wir machen</h2>
              <p>Exklusiv entwickelte Intranet-Lösungen, Webanwendungen, Web-Clients sowie mobile Apps werden responsive sowie technologisch hochwertig auf Ihre Bedürfnisse zugeschnitten.</p>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-6 mb-5 second-portfolio box">
              <p class="mb-4">Profitieren Sie von zuverlässiger Qualität in den Bereichen Softwareentwicklung,<br> Software-Architektur, Web- und App-Entwicklung. Wir entwickeln <strong>innovative Lösungen mit Hilfe modernster Technologien:</strong></p>
              <p class="technologies mb-0"><strong class="oswald">.NET-FRAMEWORK | ASP.NET CORE |<br>C# | VISUAL BASIC | CSS | HTML | MS AZURE |<br>MS SQL | ANGULAR | ASP.NET CORE BLAZOR |<br>WPF | JAVASCRIPT | XML</strong></p>
          </div>
      </div>
  </div>
</section>