---
import '@glidejs/glide/dist/css/glide.core.min.css';
import '@glidejs/glide/dist/css/glide.theme.min.css';

interface Slide {
  imagePath: string;
  customer: string;
  text: string;
}

const slides: Slide[] = [
  {
    imagePath: 'base.png',
    customer: 'Placeholder',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
  {
    imagePath: 'base.png',
    customer: 'Placeholder',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
  {
    imagePath: 'base.png',
    customer: 'Placeholder',
    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
  },
];
---

<section class="page-section bg-primary mb-0" id="credentials">
  <div class="container">
    <div class="row justify-content-center content-row">
      <h2
        class="section-header text-left text-uppercase mb-5 header-cred d-sm-block d-lg-none"
      >
        Referenzen
      </h2>

      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {
              slides.map((slide) => (
                <li class="glide__slide">
                  <div class="row justify-content-center align-items-center content-row uncenter">
                    <div class="col-md-6 col-lg-3 mb-5 pl-lg-0 pt-lg-5 text-center reference-img-wrapper">
                      <img
                        class="reference"
                        src={`img/slides/${slide.imagePath}`}
                        alt=""
                      />
                    </div>
                    <div class="col-md-6 col-lg-8 mb-5 pl-lg-0 text-white">
                      <div class="row justify-content-center content-row rf-card">
                        <div class="col-lg-11 d-flex flex-column mt-lg-5 mb-lg-5 pl-lg-9 p-lg-0">
                          <div class="col reference-title oswald text-uppercase">
                            {slide.customer}
                          </div>
                          <div class="col"> {slide.text} </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-1">
                      <h5 class="text-uppercase mb-4 mb-lg-0 special-headline-g d-none d-lg-inline-block">
                        Referenzen
                      </h5>
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
          <button
            class="glide__arrow glide__arrow--left"
            data-glide-dir="<"
            aria-label="Slider previous"></button>
          <button
            class="glide__arrow glide__arrow--right"
            data-glide-dir=">"
            aria-label="Slider next"></button>
        </div>
      </div>
    </div>
    <div class="parent-sl">
      <hr class="stupid-line" />
    </div>
  </div>
</section>

<script>
  import Glide, {
    Controls,
    Breakpoints,
    // @ts-ignore
  } from '@glidejs/glide/dist/glide.modular.esm';

  // @ts-ignore
  const slider = new Glide('.glide');
  slider.mount({ Controls, Breakpoints });
</script>

<style>
  .glide__arrow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    filter: invert(1) grayscale(80);
    opacity: 0.5;
    transition: opacity 0.15s ease;
    border: none;
    top: 0;
    bottom: 0;
    z-index: 20;
  }

  .glide__arrow:hover {
    opacity: 1;
  }

  .glide__arrow--left {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    left: 3rem;
  }

  .glide__arrow--right {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    left: 7rem;
  }
</style>
